/* Ensure HTML and body take up the full viewport height */
html, body {
    margin: 0;
    height: 100%;
}

/* Set container to take up full viewport width and height */
.container {
    width: 100%;
    height: 100%;
}

/* Styling for navigation */
.nav {
    display: flex;
    border: 2px solid black;
    border-radius: 2px;
}

.nav li {
    padding: 10px 20px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    border-right: 1px solid black;
}

.step1 {
    margin-left: 5%;
    margin-bottom: 1%;
}
.result {
    margin-left: 5%;
    margin-bottom: 1%;
}

.table-header {
    font-weight: 700;
    margin: 20px;
}
.header {
    font-weight: 700;
    margin: 20px;
}


.nav li:last-child {
    border-right: none; /* Remove right border for last li in nav */
}

.nav li a {
    text-decoration: none;
    color: black;
}

/* Styling for table */
.content {
    border: 1px solid black;

}
.content table {
    border-collapse: collapse;
    width: 30%;
}

.content th, .content td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Styling for expression container */
.expression-container {
    margin: 20px;
    width: 40%;
    border: 1px solid black;
    padding: 20px;
}

.expression-container #problem {
    display: flex;
    flex-direction: column;
}

/* Styling for output items */
.content .item {
    list-style-type: circle;
}

table {
    margin-left: 5%;
    margin-bottom: 5%;
}