<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/solve.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="item">Method 1</div>
            <div class="item">Method 2</div>
            <div class="item">Method 3</div>
            <div class="title">Linear Programming Solve</div>
        </div>
        <div class="problem">
            
        </div>
        <div class="content">
            <div id="outputVar" class="item"></div>
            <div id="outputVal" class="item"></div>
            <img id="plotImage" src="images/graph.png" alt="Plot Image">
        </div>
    </div>
    <script src="../static/formatExpression.js"></script>
    <script src="../static/sbs.js"></script>
</body>
</html>