<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/solve.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.css">
</head>
<body>
    <div class="container">
        <div class="title" style="display: flex; justify-content: center; align-items: center; font-size: 30px; font-weight: 700;">Solver</div>
        <div class="expression-container">
            <div id="problem">
            </div>
            <div class="expression-item">

            </div>
        </div>
        <div class="content">
            <div class="header">Graph</div>
            <div class="result">
                <span style="margin-left: 20px; font-weight: 700;">Result: </span>
                <li style = 'list-style-type: disc;'id="outputVar" class="item"></li>
                <li style = 'list-style-type: disc;'id="outputVal" class="item"></li>
            </div>
            <img id="plotImage" src="/graph" alt="Plot Image">
        </div>
        <div class="content">
            <div class="table-header">
                <span>Table Solver</span>
            </div>
            <div class="result">
                <span style="font-weight: 700;">Result:</span>
                <li style = 'list-style-type: disc;'id="outputVar2" class="item"></li>
                <li style = 'list-style-type: disc;'id="outputVal2" class="item"></li>
            </div>
            <div class="step1">Create Table</div>
            <!-- <table id="jsonTable">
               
                <thead id="tableHead">
                </thead>
                <tbody id="tableBody"></tbody>
            </table> -->
      
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.js"></script>
    <script src="../static/sbs.js"></script>
</body>
</html> 